#header {
	background-color: #ccc;
	background:url(../images/tech/header-highlight.jpg);
}

#header .inner, #header-right .inner {
  padding-bottom: 20px;
  padding-top:0px;
}

#logo {
  float: left;
  padding: 0px;
}
