
.region-header .block ul li {
  display: inline-block;
  list-style: none outside none;
  padding: 8px;
  color: #2E2E36;
  line-height: 30px;
}

.region-header .block ul li a {
  text-decoration: none;
  display: block;
  line-height: 30px;
  color: #2E2E36;

}

.region-header .block ul li a:hover {
  background-image: url("../images/tech/topnav-hover.gif");
  background-position: center top;
  background-repeat: repeat-x;
  color: #2E2E36;
  text-decoration: none;
  display: block;
  line-height: 30px;
}


#headerwrapper {
    background: url("../images/tech/header-fill.jpg") repeat-x scroll center top rgba(0, 0, 0, 0);
    padding: 0;
}

#header {
  background-image: url("../images/tech/header-highlight.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 960px;
}

#logo {
  float: left;
  padding:0;
}

#featured {
  background-image: url("../images/tech/feature-fade.jpg");
  background-position: center top;
  background-repeat: repeat-x;
  padding: 0;
  border-style: none;
}

#featured p {
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
    text-shadow: 1px 1px #2C2C2C;
}

#featured p {
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
    text-shadow: 1px 1px #2C2C2C;
    font-size: 1.2em;
}

#featured li {
  text-align: left;
  font-size: .8em;
  color: #fff;
  text-shadow:none;
}


.region-triptych-first {
  font-size: 11px;
  font-style: italic;
  margin: 20px 20px 30px;
  width: 950px;
}

.termsofservice iframe {
  width: 720px;
}

.sidebar .block {
  padding:5px;
  background-color: #F0F0F2;
  border-color: #F0F0F2;

}

